* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(wml3.jpg);
}
.form-box {
  background-color: darkgrey;
  /* opacity: 0.6; */

  width: 400px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 20px;
  border: 5px solid #fff;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}
input{
    color: rgba(128, 0, 128, 0.874);
    font-size: 15px;
}
.input-box {
  
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.input-box label {
    
  position: absolute;
  margin-top: -50px;
  left: 5px;
  color: #fff;
  font-size: 20px;
  /* pointer-events: none; */
  transition: 0.5s;
  
}

/* input:focus ~ label,
input:valid ~ label {
  top: -5px;
} */
.input-box ion-icon {
  
  position: absolute;
  color: #fff;
  right: 8px;
  font-size: 20px;
  top: 20px;
}

.input-box input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
  
}
.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: center;
}

span {
  font-size: large;
  font-weight: 500;
}
/* 
.forget label input{
    margin-right: 3px;
}  */

.forget label a {
  color: #fff;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  /* cursor: pointer; */
}
.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 25px;
}
.register a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}
.register a:hover {
  text-decoration: underline;
}

